<%- include('../partials/header', { title: 'Users' }) %>

  <h2><i class="fas fa-users"></i> All Users</h2>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach(user=> { %>
        <tr>
          <td>
            <%= user.id %>
          </td>
          <td>
            <%= user.name %>
          </td>
          <td>
            <%= user.email %>
          </td>
        </tr>
        <% }) %>
    </tbody>
  </table>

  <%- include('../partials/footer') %>